@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;1,9..40,400;1,9..40,600&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,700;1,800&family=Inter:wght@300;500&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;1,500&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,400;1,600&family=Oswald:wght@300;400;500;600&family=Rubik:wght@400;500;600;700&display=swap');


body{
    display: flex;
    justify-content: center;
    font-family: 'Fira Sans', sans-serif;
}
#buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
}
.bTn{
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 12px;
    cursor: pointer;
    background-color: rgb(144, 144, 144);
    color: white;
    margin-top: 14px;
    font-size: 16px;
}
.bTn:hover{
    background-color: rgb(108, 108, 108);
}
#display{
    width: 100%;
    border: none;
    border-radius: 7px;
    background-color: rgb(104, 104, 104);
    outline: none;
    font-size: 40px;
    color: white;
}
#cal{
    background-color: rgb(70, 94, 94);
    width: 22%;
    height: 30%;
    border-radius: 7px;
    padding: 20px;
}

.backSpace{
    background-color: rgb(70, 95, 95);
    border-radius: 7px;
    width: 67px;
    font-size: 28px;
    border: none;
    margin-top: 18px;
    cursor: pointer;
    padding: 12px;
}

.backSpace:hover{
    background-color: rgb(108, 108, 108);
}

.operators{
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 12px;
    margin-top: 12px;
    cursor: pointer;
    background-color: rgb(124, 103, 64);
    color: white;
    font-size: 16px;
}
.operators:hover{
    background-color: rgb(102, 83, 48);
}

#equal{
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 12px;
    margin-top: 12px;
    cursor: pointer;
    background-color: rgb(197, 101, 41);
    color: white;
}

#c{
    border: none;
    background-color: rgb(70, 94, 94);
    cursor: pointer;
    padding: 15px;
    font-size: 30px;
    border-radius: 10px;
}

#c:hover{
    background-color: rgb(108, 108, 108);
}

#equal:hover{
    background-color: rgb(234, 126, 59);
}
.emp{
    border: none;
    background-color: rgb(70, 94, 94);
}

@media screen and (max-width: 770px){
    #cal{
        width: 60%;
    }
}